* {
	margin: 0;
	padding: 0;
}

:root{
	--back_col: #e4e4e4;
	--titles_col: rgb(196, 196, 196);
	--buttons_text_col: gray;
	--footer_col: gray;
	--box_col: #090909;
	--box_active_col: #666;
	--box_backg_col: #e8e8e8;
	--box_border_col: #e8e8e8;
	--box_shadow_col_1: #c5c5c5;
	--box_shadow_col_2: #ffffff;
}
.dark-theme{
	--back_col: #353535;
	--titles_col: #666;
	--buttons_text_col: gray;
	--footer_col: gray;
	--box_col: #090909;
	--box_active_col: #666;
	--box_backg_col: #353535;
	--box_border_col: #353535;
	--box_shadow_col_1: #1f1f1f;
	--box_shadow_col_2: #4e4e4e;
}

html, body {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: var(--back_col);
	cursor: url('/cursor/dancingcatSmol.gif'), default;
	/* border: 1px solid red; */
}

header {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 50px;
	/* border: 1px solid green; */
}

h1 {
	color: var(--titles_col);
	font-size: 3em;
	font-family:'Courier New', Courier, monospace;
	/* border: 1px solid blue; */
}

h2 {
	/* cursor: pointer; */
	display: flex;
	align-items: center;
	justify-content: center;

	height: 50px;
	width: 200px;
	margin: 40px;
	color: var(--box_col);
	border-radius: 0.7em;
	transition: all 0.3s;
	background: var(--box_backg_col);
	border: 1px solid var(--box_border_col);
	box-shadow: 6px 6px 12px var(--box_shadow_col_1), -6px -6px 12px var(--box_shadow_col_2);
	cursor : url('/cursor/znogueir-nobg.png'), pointer;
}

#back {
	margin-top: 100px;
}

h2 a {
	width: 100%;
	height: 100%;
	display: flex;
	font-size: 13px;
	text-align: center;
	align-items: center;
	font-weight: lighter;
	text-decoration: none;
	color: var(--buttons_text_col);
	justify-content: center;
	font-family:'Courier New', Courier, monospace;
	cursor : url('/cursor/znogueir-nobg.png'), pointer;
}

h2:active {
	color: var(--box_active_col);
	box-shadow: inset 4px 4px 12px var(--box_shadow_col_1), inset -4px -4px 12px var(--box_shadow_col_2);
	cursor : url('/cursor/znogueir-nobg.png'), pointer;
}

footer {
	/* border: 1px solid yellow; */
	padding: 10px 10px 10px 10px;
	font-size: 13px;
	margin-top: auto;
	text-align: center;
	display: inline-block;
	color: var(--footer_col);
	font-family:'Courier New', Courier, monospace;
}
